{% extends 'base.html' %}

{% block head %}
<title>Stock Info</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Stock Info</h1>
    {% if stocks|length < 1 %}
        <h4 style="text-align: center;">There are no stocks to analyze. Add some below!</h4>
    {% else %}

    <table>
        <tr>
            <th>Stock Ticker</th>
            <th>Most Recent Price</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.ticker }}</td>
                <td>{{ stock.recent_price }}</td>
                <td>
                    <a href="/delete/{{stock.id}}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Stock to Analyze">
    </form>

    <form action="/update_prices">
        <input type="submit" value="Update Prices">
    </form>

    <form action="/email_prices" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Email Prices">
    </form>
    
</div>

{% if alert_flag %}
    <script>
        alert("{{ alert_flag }}");
    </script>
{% endif %}

{% endblock %}